@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,700;1,900&family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 245, 245);
    position: relative;
    overflow-x: hidden;
    font-size: 1.2em;
}
.darkmode{
    background-color:#002733 ;
    color: #fff;
}
.darkmode .bar{
    background-color: #fd3a69 ;
}
.darkmode .buttons{
    background-color: #fd3a69 ;
}
.darkmode #form-box{
    background-color: #1c4d5c;
    color: #fff;
}
.darkmode .nav{
    background-color: #1c4d5c;
    color: #fff;
}
.darkmode .style-Level{
    background-color: #558897;
}
.darkmode i {
    color: #fff;
}
.darkmode ::placeholder{
    color: #fff;
    font-weight: 200;
}

#menu{
    position: fixed;
    top: 10px;
    right: 30px;
    width: 35px;
    height: 30px;
    margin: 30px 0px 20px 20px;

}
.bar{
    height: 5px;
    width: 100%;
    background-color: #000;
    display: block;
    border-radius: 5px;
    transition: 0.2s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.nav li a{
    color: #000;
    text-decoration: none;
}
.nav li{
    color: #000;
    list-style: none;
    padding:45px;
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    text-align: center;
}
.nav{
    background-color:rgb(250, 245, 245) ;
    max-width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 10vh;
    z-index: 1000;
    padding:0;
    transition: 0.3 ease;
    display: none;
}
.nav-web{
    position: absolute;
    width: 100%;
    top: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.nav-item{
   display: inline;
   margin-right: 30px;
}
.buttons{
    position: absolute;
    top: 5%;
    width: 50px;
    height: 50px;
    background-color: rgb(230, 105, 91);
    border-radius: 50%;
}
.buttontheme{
    right: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttonload{
    right: 75px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-sun, .fa-redo-alt{
    color: #fff;
}
.fa-moon{
    font-weight: 900;
}
#getAct{
    cursor: pointer;
}
#getAct:hover{
    color: blueviolet;
}
#form-box h3 {
  font-size: 1.5em;
  margin-bottom: 25px;
}
#form-box{
    font-family: 'Source Sans Pro', sans-serif;
    width: 350px;
    height: auto;
    text-align: left;
    padding: 25px;
    background-color: #fff;
    border-radius: 12px;
}
.send-button{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-color: #3498db;
    color: #fff;
    background-color: rgb(240, 132, 93);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
}
.send-button:hover{
     box-shadow: 0 0 10px 0 rgb(224, 184, 179) inset, 0 0 10px 4px rgb(197, 94, 82);
}
.style-Level{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    font-weight: 100;
    font-size: 0.8em;
    outline:none;
}
.style-Level:hover{
    border: 2px solid rgb(189, 79, 39);
}
.style-title{
font-size: 1em;
font-weight: 200;
}
#title{
 position: absolute;
 top: 40%;
 font-weight: 900;
 font-size: 1.8em;
}
.box-content{
    margin: 5px;
    padding: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.4em;

}
.change #bar1{
    transform: translateY(4px) rotate(-45deg);
}
.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
    opacity: 0;
}

@media screen and (max-width: 480px){
    .buttons{
        display: none;
    }
    .nav-web{
        display: none;
    }
    .change{
        display: block;
    }
    .form-box{
        margin-top: 30px;

    }


}
@media screen and (min-width:481px) and (max-width:760px){
   #menu{
       display: none;
   }

}

@media screen and (min-width:761px){
    #menu{
        display: none;
    }

}
